.aboutMe {
    grid-area: aboutMe;
    width: 100%;
    height: 100%;
    background-color: var(--grid-item-bg);
    border-radius: 1.25rem;
    box-shadow: var(--box-shadow);
}
.content {
    padding: 3rem 2.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 340px) {
    .content {
        padding: 1rem 0;
    }
}
.content__paragraph::before {
    content: "";
    display: block;
    height: 3.5rem;
}
.content__headers {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family-header);
    font-size: var(--font-size-header);
    color: var(--text-color);
}
.content__paragraph {
    color: var(--text-color);
    font-family: var(--font-family-text);
    letter-spacing: var(--letter-spacing-text);
    line-height: var(--line-height-text);
}
.content__image {
    display: none;
    max-width: 104px;
    border-radius: 4px;
}

@media (min-height: 798px) {
    .aboutMe {
        max-height: 364px;
    }
    .content {
        padding: 2rem 1.875rem;
    }
    .content__paragraph::before {
        height: 2.5rem;
    }
    .content__image {
        max-width: 64px;
    }
}
@media (min-width: 1200px) {
    .aboutMe {
        max-width: 512px;
    }
}
