.navbar {
    margin: 1rem 0 0;
    background: var(--tag-bg);
    border-radius: 0.5rem;
    padding: 0.25rem;
}
.navbar__list {
    display: flex;
}
.navbar__list .navbar__item:not(:nth-child(4)) {
    margin: 0;
}
.navbar__item {
    color: var(--tag-text);
    font-size: var(--font-size-text);
    font-family: var(--font-family-text);
    font-weight: 500;
    text-transform: capitalize;
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in;
}
.navbar__item:hover {
    cursor: pointer;
    background-color: var(--grid-item-bg);
}
.navbar__item.active {
    background-color: var(--color-active);
}
