.project {
    grid-area: project;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 1.5rem;
}
.content {
    padding: 3rem 2.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 340px) {
    .content {
        padding: 1rem 0;
    }
}
.project__intro {
    padding: 2rem 0;
}
.project__headers {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-header);
    font-size: var(--font-size-header);
    color: #000;
}
.project__title {
    color: var(--font-color-thin-accent);
}
.project__intro {
    font-family: var(--font-family-text);
    line-height: var(--line-height-text);
    letter-spacing: var(--letter-spacing-text);
    color: var(--font-color-lighter);
}
.project__link_text {
    font-family: var(--font-family-header);
    font-size: var(--font-size-header);
    color: #000;
}
