@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;0,400;1,500;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuggles:wght@400&display=swap");

:root {
    --page-header: "Fuggles", mono;
    --font-family-header: "Inter", sans-serif;
    --font-family-text: "Helvetica Neue", sans-serif;

    --linear-accent: linear-gradient(
        145deg,
        rgba(255, 240, 168, 75%),
        rgba(255, 167, 81, 75%)
    );
    --text-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
    --box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12),
        0 4px 12px 0 rgba(0, 0, 0, 0.12);

    --grey-light: #ebebeb;
    --font-color-lighter: #444;
    --font-color-light: #333;
    --font-color-thin-accent: #ffa751;

    --font-size-text: 16px;
    --font-size-header: 38px;

    --letter-spacing-text: 1.125px;
    --line-height-text: 1.575;

    --font-weight-bold: 700;

    --background-gradient: radial-gradient(circle, #f8f8f8 0%, #fff 100%);
    --background-gradient-dark: radial-gradient(
        circle,
        #132541 0%,
        rgb(15 23 42/1) 100%
    );
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body,
body * {
    transition:
        background-color 0.4s ease,
        color 0.1s ease,
        background-image 0.4s ease;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: unset;
}

body.light {
    background: var(--background-gradient);
    --name-text: #333;
    --background-color-hover: #797979;
    --text-color: #444;
    --grid-item-bg: #fff;
    --paragraph: #1e1e1e;
    --shadow-light: transparent 0 0 0 2px inset;
    --tag-bg: #f1eded;
    --tag-text: #000;
    --color-active: #fff;
    --grid-item-border: solid 1px rgba(235, 235, 235, 0.1);
}
body.dark {
    background: var(--background-gradient-dark);
    --name-text: rgb(226 232 240/1);
    --background-color-hover: #797979;
    --text-color: rgb(226 232 240/1);
    --grid-item-bg: radial-gradient(
        circle closest-side at top center,
        #1d2944 0%,
        rgb(15 23 42/1) 70%
    );
    /* --grid-item-bg: #1d2944; */
    --paragraph: #f8f8f8;
    --border-silver: 0.5px solid rgba(255, 255, 255, 8%);
    --tag-bg: #1e1e1e;
    --tag-text: #f8f8f8;
    --color-active: #000;
    --grid-item-border: solid 1px rgba(235, 235, 235, 0.1);
}
